/* Jumbotron */
.hero {
  background: linear-gradient(rgba(0, 130, 170, 0), rgb(117, 27, 27)),
    url("img/pizza.hero.jpg") center/cover no-repeat;
}
.jumbotron .container {
  /* background: rgba(255, 255, 255, 0.3); */
  color: white;
}

/* Menu */
table {
  text-align: center;
  margin: 0 auto;
}
th {
  padding: 15px;
}
.tagline {
  color: #222;
  text-align: center;
}
.menu-item {
  margin-top: 50px;
}
.menu-item h1 {
  font-size: 1.75rem;
  text-align: center;
  color: white;
  padding: 35px 0;
}
.menu-item h2 {
  margin-top: 20px;
}
#pizza h1 {
  background: linear-gradient(rgba(0, 130, 170, 0), rgb(117, 27, 27)),
    url("img/pizza.hero.jpg") center/cover no-repeat;
}
#subs h1 {
  background: linear-gradient(rgba(0, 130, 170, 0), rgb(117, 27, 27)),
    url("img/subs.jpg") center/cover no-repeat;
}
#pasta h1 {
  background: linear-gradient(rgba(0, 130, 170, 0), rgb(117, 27, 27)),
    url("img/pasta.jpg") center/cover no-repeat;
}
#toppings {
  margin-top: 20px;
}
#specialty {
  list-style: none;
  text-align: center;
}
#specialty li {
  margin: 15px 0;
}
.item-title {
  padding: 15px;
}
.short-table {
  width: 60%;
}
#sauce-options {
  list-style: none;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
#sauce-options li {
  padding-top: 15px;
}

/* Location Page */
#locations {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 20px;
}
#locations .card {
  display: inline-block;
  margin: 0;
}

/* Media Queries  */
@media screen and (max-width: 450px) {
  th,
  td {
    padding: 2px;
    font-size: 0.8rem;
  }
  #locations {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #locations .card {
    display: block;
  }
  .menu-item h2 {
    text-align: center;
  }
  #sauce-options,
  .short-table {
    width: 100%;
  }
}
